<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @followed.name %>!</h1>
    <p>
      We are pleased to inform, <b><%= @follower.name %></b> is your new follower. Link to his profile below.
    </p>
    <a href="<%= user_url(@follower) %>"><%= @follower.name %> profile.</a>
    <p>Have a great day!</p>
    <hr>
    <p>
      Click to
      <%= link_to "Unsubscribe", unsubscribe_url(@followed.access_token) %>
      if you don't want to receive similar emails.
    </p>
  </body>
</html>
