<!DOCTYPE html>
<html>
  <%= render 'mail_head' %>
  <body>
    <div class="content">
      <%= render 'logo', header_content: "Sample Application" %>
      <h3>Hi, <%= @followed.name %>!</h3>
      <p>
        We are pleased to inform,
          <b><%= @follower.name %></b>
        is your new follower. Link to his profile below.
      </p>
      <a href="<%= user_url(@follower) %>"><%= @follower.name %> profile.</a>
      <p>Have a great day!</p>
      <%= render 'unsubscribe' %>
    </div>
  </body>
</html>
