<h1>Search for Google images</h1>
<div class='search' >
  <%= form_tag( search_path, method: "get") do %>
    <%= text_field_tag(:search_query, nil,
                       placeholder: "Start typing here...",
                       class: "search_input") %>
    <div><%= submit_tag("Search", class: "btn btn-large btn-primary") %></div>
  <% end %>
</div>
<% if !search_results.nil? && search_results.any? %>
<div class="search_results">
  <h2>Search Results by "<b><%= params['search_query'].split.map(&:capitalize)*(' ') %></b>"</h2>
  <% search_results.each do |src|%>
    <hr>
    <div class="single_search_image">
      <img alt="image is unavailable" src="<%= src %>" class="search_results_img">
    </div>
  <% end %>
</div>
<% end %>
