<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="span10">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p>
        <% if @user.admin? && current_user?(@user) %>
          You are Admin
        <% end%>
      </p>
    </section>
  </aside>

  <aside>
    <div class="span8">
      <% if @user.microposts.any? %>
        <h3>Mircoposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
        <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end%>
    </div>
  </aside>
</div>
